:root {
  --heading-font: "Montserrat", sans-serif;
  --content-font: "Roboto", sans-serif;
  --background-header: rgb(214, 208, 213);
  --button-header-back: rgb(248, 191, 248);
  --button-body-back: teal;
}
body {
  display: block;
  margin: auto;
  text-align: center;
}

nav {
  background-color: white;
  line-height: 40px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 90px;
  padding-top: 20px;
}

h2 {
  font-family: var(--heading-font);
  font-size: 40px;
}

p {
  font-family: var(--content-font);
}

nav a {
  text-decoration: none;
  list-style: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

a.nav-link,
.navbar-brand {
  font-family: var(--heading-font);
  color: black;
}

.container-header {
  margin: 10px;
  max-height: 50px;
}

a.nav-link.active,
.navbar-brand:hover,
.nav-link:hover {
  color: violet;
}

.hero {
  text-align: center;
  background-color: rgb(246, 241, 246);
  padding: 60px 40px 40px 40px;
}

.btn-branding {
  background-color: var(--button-header-back);
  font-family: var(--content-font);
  border: none;
}

.btn-branding:hover {
  background-color: violet;
}

.btn-content {
  background-color: white;
  font-family: var(--content-font);
  border: 1px solid violet;
}

.btn-content:hover {
  background-color: var(--button-header-back);
}

img#home-photo {
  max-height: 350px;
}

img.basic-cert,
img.plus-cert {
  max-height: 350px;
  max-width: 100%;
}

.project-description {
  padding: 20px 20px;
  margin-top: 40px;
  text-align: start;
  line-height: 1.75;
}

.personal-description {
  padding: 20px 20px;
  margin-top: 40px;
  text-align: start;
  line-height: 1.75;
}

.email-link {
  text-decoration: none;
  color: black;
}

.email-link:hover {
  color: violet;
}

.icon {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 22px;
  border-radius: 50%;
  background-color: violet;
}

.icon:hover {
  background-color: white;
}

footer a {
  color: black;
}

footer a:hover {
  color: violet;
  background-color: white;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    padding-top: 40px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  ul {
    padding: 0;
  }

  nav {
    line-height: 20px;
  }

  .container-header {
    font-size: 10px;
    margin: 10px;
  }

  .hero {
    padding: 40px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .personal-description {
    padding: 0;
    text-align: center;
  }
}
